{# SPDX-License-Identifier: AGPL-3.0-or-later. Nouveau mot de passe par lien reçu par courriel. #}{% extend "ui/auth/base.html" %}
{% block title %}{% translate "ui.password.reset_title" %}{% endblock title %}
{% block content %}
<h1 class="pd-auth-title">{% translate "ui.password.reset_title" %}</h1>
{% include "ui/_base_errors.html" %}
<form method="post" novalidate>
  {% csrf_input %}
  {% include "ui/account/_new_password.html" %}
  <button class="button is-primary pd-touch" type="submit">{% translate "ui.password.save" %}</button>
</form>
{% endblock content %}
